In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import time

# Import API key
from config import g_key

%matplotlib inline

In [2]:
# Store Part I results into DataFrame
cities_df = pd.read_csv('cities.csv')

cities_df

,City,Latitude,Longitude,Temperature,Maximum Temperature,Humidity,Cloudiness,Windspeed
0,pevek,69.70,170.31,8.98,8.98,89.0,99.0,5.59
1,abha,18.22,42.51,56.26,57.20,82.0,37.0,0.18
2,sulya,12.57,75.38,78.80,78.80,88.0,20.0,1.97
3,cape town,-33.93,18.42,64.20,68.00,88.0,95.0,10.29
4,atuona,-9.80,-139.03,83.34,83.34,61.0,0.0,4.76
...,...,...,...,...,...,...,...,...
578,trelew,-43.25,-65.31,58.14,58.14,76.0,30.0,17.22
579,havre-saint-pierre,50.23,-63.60,26.60,26.60,92.0,1.0,9.17
580,yellandu,17.60,80.33,73.40,73.40,83.0,0.0,3.24
581,guerrero negro,27.98,-114.06,64.29,64.29,62.0,10.0,20.67
582,pochutla,15.74,-96.47,87.98,89.60,49.0,40.0,9.17

In [3]:
# Humidity Heatmap

# Use the Lat and Lng as locations and Humidity as the weight.
locations = cities_df[["Latitude", "Longitude"]].astype(float)

humidity = cities_df["Humidity"].astype(float)

# Configure gmaps
gmaps.configure(api_key=g_key)

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity)

# Add Heatmap layer to map
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Create new DataFrame fitting weather criteria
# A max temperature lower than 80 degrees but higher than 60.
# Wind speed less than 10 mph.
# Zero cloudiness.
# Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

cities_filter_df = cities_df.loc[((cities_df['Temperature'] >= 60) & (cities_df['Temperature'] < 80)) & 
                                 (cities_df['Windspeed'] <= 10) & 
                                 (cities_df['Cloudiness'] == 0)]

# Add a "Hotel Name" column to the DataFrame.
cities_filter_df['Country'] = ""
cities_filter_df['Hotel Name'] = ""

cities_filter_df.head()

/Users/richagautam/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/Users/richagautam/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

,City,Latitude,Longitude,Temperature,Maximum Temperature,Humidity,Cloudiness,Windspeed,Country,Hotel Name
6,quelimane,-17.88,36.89,78.80,78.80,88.0,0.0,2.24,,
55,henties bay,-22.12,14.28,60.01,60.01,93.0,0.0,2.59,,
90,xai-xai,-25.05,33.64,70.97,70.97,97.0,0.0,1.03,,
162,concordia,-31.39,-58.02,79.00,79.00,69.0,0.0,4.63,,
164,tura,25.52,90.22,69.04,69.04,51.0,0.0,1.25,,

In [6]:
# Hotel Map

# Set parameters to search for hotels with 5000 meters.
target_search = "hotel"
target_radius = 5000
target_type = "lodging"

for index, row in cities_filter_df.iterrows():
    # base url for google places call
    base_url_place = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # base url for reverse geocode call
    base_url_geocode = "https://maps.googleapis.com/maps/api/geocode/json"
    
        # set up a parameters dictionary for the reverse geocode call
    try:
        params_geocode = {
            "address": row['City'],
            "key": g_key
        }
    
        # Hit the Google Places API for each city's coordinates.
        response_geocode = requests.get(base_url_geocode, params=params_geocode)
    except Exception as e:
        print(e)
    
    # convert response to json
    try:
        geocode_data = response_geocode.json()
    except Exception as e:
        print(e)
    
    # Select the block with "country" in "types"
    try:
        country_range = np.arange(len(geocode_data['results'][0]['address_components']))
        for number in country_range:
            if 'country' in geocode_data['results'][0]['address_components'][number]['types']:
                country = geocode_data['results'][0]["address_components"][number]['short_name']
                cities_filter_df.loc[index, "Country"] = country
    except Exception as e:
        cities_filter_df.loc[index, "Country"] = np.NaN
        print(e)

    # set up a parameters dictionary for google places
    try:
        lat = geocode_data["results"][0]["geometry"]["location"]["lat"]
        cities_filter_df.loc[index, "Latitude"] = lat
    except Exception as e:
        cities_filter_df.loc[index, "Latitude"] = np.NaN
        print(e)
    try:
        lng = geocode_data["results"][0]["geometry"]["location"]["lng"]
        cities_filter_df.loc[index, "Longitude"] = lng
    except Exception as e:
        cities_filter_df.loc[index, "Longitude"] = np.NaN
        print(e)
        
    params_place = {
        "location": f"{lat}, {lng}",
        "keyword": target_search,
        "radius": target_radius,
        "type": target_type,
        "key": g_key
    }
    
    # run a request using our params dictionary
    try:
        response_place = requests.get(base_url_place, params=params_place)
    except Exception as e:
        print(e)
        
    # convert response to json
    try:
        places_data = response_place.json()
    except Exception as w:
        print(e)
        
    # select name of first hotel
    try:
        hotel = places_data['results'][0]["name"]
    # Store the first Hotel result into the DataFrame.
        cities_filter_df.loc[index, "Hotel Name"] = hotel
    except Exception as e:
        cities_filter_df.loc[index, "Hotel Name"] = np.NaN
        print(e)

    time.sleep(1)

cities_filter_df.head()

/Users/richagautam/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

list index out of range
list index out of range

,City,Latitude,Longitude,Temperature,Maximum Temperature,Humidity,Cloudiness,Windspeed,Country,Hotel Name
6,quelimane,-17.850264,36.921858,78.80,78.80,88.0,0.0,2.24,MZ,Hotel Elite
55,henties bay,-22.113496,14.283204,60.01,60.01,93.0,0.0,2.59,NA,Desert Rendezvous
90,xai-xai,-25.060476,33.695881,70.97,70.97,97.0,0.0,1.03,MZ,NaN
162,concordia,30.420941,-97.836282,79.00,79.00,69.0,0.0,4.63,US,Holiday Inn Express & Suites Austin NW - Four ...
164,tura,40.786056,-73.729824,69.04,69.04,51.0,0.0,1.25,US,The Andrew Hotel

In [7]:
# Store into variable named hotel_df
hotel_df = cities_filter_df[['City', 'Country', 'Hotel Name']]
hotel_df = pd.merge(cities_df, hotel_df, on='City', suffixes=('', ''))
hotel_df

,City,Latitude,Longitude,Temperature,Maximum Temperature,Humidity,Cloudiness,Windspeed,Country,Hotel Name
0,quelimane,-17.88,36.89,78.80,78.80,88.0,0.0,2.24,MZ,Hotel Elite
1,henties bay,-22.12,14.28,60.01,60.01,93.0,0.0,2.59,NA,Desert Rendezvous
2,xai-xai,-25.05,33.64,70.97,70.97,97.0,0.0,1.03,MZ,NaN
3,concordia,-31.39,-58.02,79.00,79.00,69.0,0.0,4.63,US,Holiday Inn Express & Suites Austin NW - Four ...
4,tura,25.52,90.22,69.04,69.04,51.0,0.0,1.25,US,The Andrew Hotel
5,bandar-e lengeh,26.56,54.88,68.92,68.92,63.0,0.0,6.96,IR,Diplomat Hotel
6,akyab,20.15,92.90,69.57,69.57,74.0,0.0,7.76,MM,Yuzana Aung Hotel
7,nabinagar,23.89,90.97,68.68,71.60,93.0,0.0,4.81,IN,NaN
8,cradock,-32.16,25.62,62.15,62.15,85.0,0.0,3.78,US,Norfolk Waterside Marriott
9,rasra,25.85,83.85,71.08,71.08,41.0,0.0,0.38,IN,मद्धेशिया होटल भगत सिंह तिराहा madheshiya Hotel
10,perundurai,11.27,77.58,72.32,72.32,74.0,0.0,1.45,IN,Hotel Krish inn
11,luderitz,-26.65,15.16,60.80,60.80,82.0,0.0,6.93,NA,LÜDERITZ NEST HOTEL
12,morondava,-20.28,44.28,73.54,73.54,89.0,0.0,3.02,MG,Palissandre Cote Ouest resort & SPA
13,yellandu,17.60,80.33,73.40,73.40,83.0,0.0,3.24,IN,Satyam Hotel

In [8]:
# Plot markers on top of the heatmap.

# Humidity Heatmap

# Use the Lat and Lng as locations and Humidity as the weight.
locations = hotel_df[["Latitude", "Longitude"]].astype(float)
humidity = hotel_df["Humidity"].astype(float)
marker_locations = hotel_df[["Latitude", "Longitude"]].loc[hotel_df['Hotel Name'].notna()]

name = hotel_df['Hotel Name'].loc[hotel_df['Hotel Name'].notna()].tolist()
city = hotel_df['City'].loc[hotel_df['Hotel Name'].notna()].tolist()
country = hotel_df['Country'].loc[hotel_df['Hotel Name'].notna()].tolist()


# Configure gmaps
fig = gmaps.figure()

# Add Heatmap layer to map

heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=humidity)

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [12]:
# Add marker layer ontop of heat map
name_markers = gmaps.marker_layer(locations, 
                                  info_box_content = hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(name_markers)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))